<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    
<style>



@media screen and (min-width: 850px) {


.customerscroll1::-webkit-scrollbar{
        width: 0px!important;
        height: 0px!important;
    }
    .customerscroll1::-webkit-scrollbar-thumb{
        background: linear-gradient(rgba(19, 5, 16, 0),rgb(67, 67, 67));
        height: 0px!important;
    }

}

.customerwrap{
display: flex;
flex-direction: column;
overflow:hidden;
width: 100%;
height: max-content;
background-color:rgba(244, 155, 0, 0);

}

.customertextwrap{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
height: 40px;
background-color:rgba(61, 244, 0, 0);
}
.customerscroll1{
display: flex;
align-items: center;
width: 100%;
height: 340px;
overflow:auto;
background-color:rgba(244, 0, 0, 0);
scroll-snap-type:x mandatory;
   
}

.customerscroll1::-webkit-scrollbar{
        width: 0px;
        height: 6px;
    }
    .customerscroll1::-webkit-scrollbar-thumb{
        background: linear-gradient(rgba(19, 5, 16, 0),rgb(67, 67, 67));
        height: 70px;
    }

.customerscroll{
display: flex;
align-items: center;
width: 1300px;
height: max-content;
background-color:rgba(244, 0, 0, 0);
   
}

.customerscroll1 .customerbox1{
    scroll-snap-align: start;
}



.customerbox1{
    display: flex;
    justify-content: center;
align-items: center;
border: 2px solid rgba(0, 0, 0, 0);
width:  400px;
height: 300px;
background-color: rgba(64, 0, 255, 0);
}

.customerbox{
margin-left: -0px;
    display: flex;
flex-direction: column;
align-items: center;
width:  390px;
height: 290px;
border-radius: 9px;
background-color:rgb(255, 255, 255);
box-shadow: 0px 1px 6px 0.5px rgba(0, 0, 0, 0.612);
 
}



.starscustomer{
    margin-top: 17px;
width: 150px;
height: max-content;
}
.textcustomer1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    color: rgba(17, 17, 17, 0.988);

}
.customercoment1{
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
width:  90%;
height: 115px;
background-color:rgba(2, 16, 204, 0);
}

.customercoment2{
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.572);
  font-style: normal;

}

.customercoment3{
    font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: rgba(34, 34, 34, 0.877);
  font-style: normal;
}
.customercoment4{
    margin-top: 8px;
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.572);
  font-style: normal;

}

</style>

<body>
    <div class="customerwrap">
        <div class="customertextwrap">
        <h1 class="textcustomer1">From Our Customers</h1>
        </div>
        <div id="customerscroll1" class="customerscroll1">
        <div id="customerscroll" class="customerscroll">

            <div id="customerboxf1" class="customerbox1">
            <div id="customerbox1" class="customerbox">
    <img src="https://res.cloudinary.com/platformtour/image/upload/v1717524879/Screenshot_20240604-183958_Chrome-removebg-preview_aqsu6x.png" alt="stars" class="starscustomer"/>
   <div  class="customercoment1">
    <p class="customercoment2">What a high-quality item.
        Purchased my U1 Gloves and waited about a week or two to receive. Definitely worth the wait. What a high-quality Gloves. </p>
</div>
<h1 class="customercoment3">Charlie M.</h1>
<p class="customercoment4">New York</p>
</div>
</div>

<div id="customerboxf2" class="customerbox1">
<div id="customerbox2" class="customerbox">
    <img src="https://res.cloudinary.com/platformtour/image/upload/v1717524879/Screenshot_20240604-183958_Chrome-removebg-preview_aqsu6x.png" alt="stars" class="starscustomer"/>
   <div  class="customercoment1">
    <p class="customercoment2">Excellent trousers, the fit is perfect and they actually feel like trainers and look formal. The best combination!</p>
</div>
<h1 class="customercoment3">Jason K.</h1>
<p class="customercoment4">New Orleans, LA</p>
</div>
</div>

<div id="customerboxf3" class="customerbox1">
<div id="customerbox3" class="customerbox">
    <img src="https://res.cloudinary.com/platformtour/image/upload/v1717524879/Screenshot_20240604-183958_Chrome-removebg-preview_aqsu6x.png" alt="stars" class="starscustomer"/>
   <div  class="customercoment1">
    <p class="customercoment2">I am so impressed with this product. I will definitely be getting some more. I was quite apprehensive in the beginning cos in the past I’ve spent...</p>
</div>
<h1 class="customercoment3">Lisa Y</h1>
<p class="customercoment4">San jose</p>
</div>
</div>




</div>
        </div>
    </div>

<script>

//const cmscroll=document.getElementById("customerscroll1")
//const srrolly = document.querySelectorAll('.customerscroll1')
//const ypostion =srrolly[0].scrollTop ;
     
const srrolly = document.querySelector('.customerscroll1')
     
       
if(window.innerWidth<700){

document.getElementById("customerscroll").style.width=`${(window.innerWidth)*3}px`


srrolly.scrollTo((((window.innerWidth)*3)/2)-200,0)

document.getElementById("customerboxf1").style.width=`${(window.innerWidth)}px`
document.getElementById("customerbox1").style.width=`${(window.innerWidth)-50}px`
document.getElementById("customerbox1").style.marginLeft=`10px`

document.getElementById("customerboxf2").style.width=`${(window.innerWidth)}px`
document.getElementById("customerbox2").style.width=`${(window.innerWidth)-50}px`
document.getElementById("customerbox3").style.marginLeft=`-9px`

document.getElementById("customerboxf3").style.width=`${(window.innerWidth)}px`
document.getElementById("customerbox3").style.width=`${(window.innerWidth)-50}px`
document.getElementById("customerbox3").style.marginLeft=`-15px`


}

</script>
