
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&display=swap" rel="stylesheet">

<style>


.fontss{
font-style: normal;
  /* 
   font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
  
  
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  
  .passion-one-black {
  font-family: "Passion One", sans-serif;
  font-weight: 900;
  font-style: normal;
}

#b8b8b8
  
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

Regular 400 at 16px
Black 900 Italic
 font-family: "Poppins", sans-serif;
  font-weight: 300;

  */

}

.featurenameh1{
    margin-top: -20px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    color: rgba(76, 76, 76, 0.832);
}

.featurename{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.572);
  font-style: normal;
}
.featurewrap{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 255, 0);
}
.featurewrap1{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 150px;
    background-color: rgba(204, 0, 255, 0);
}
.featurewrap1t{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 40px;
    background-color:rgba(255, 255, 255, 0);
}

.featurewrap1b{
    margin-top:2px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 100%;
    height: 105px;
    background-color: rgba(0, 174, 255, 0);
}
.featurewrap1bx{
    margin-top:2px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 85px;
    height: 95px;
    background-color: rgba(255, 255, 255, 0);
}

.featureline{
    margin-top: 20px;
   display: flex;
    width: 100%;
    height: 2px;
    background-color: rgb(149, 149, 149);
color:rgba(255, 255, 255, 0);
}

.featureliname{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -17px;
    position: relative;
    display: flex;
    width: 200px;
    height: 30px;
    background-color: rgb(255, 255, 255);
}

.tagfeature{
    margin-left: -10px;
    font-size: 16px;
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
 font-weight: 400;
  font-style: normal;
  color:#2e2e2e ;
}

.remottext{
 font-size: 13px;
 font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
  font-style: normal;
 color:#b8b8b8 ;
}

.imgtagfeature{
    margin-left: 7px;
    width: 25px;
    height: max-content;
}

.imgtagfeature2{
   width: 50px;
   opacity: 0.50;
    height: max-content;
}

</style>


<div class="featurewrap">

        <div class="featurewrap1">
            <div class="featurewrap1t">
                <div class="featureline">.</div>
                <div class="featureliname">
                    <h1 class="tagfeature">Features Unlocked 0/3</h1>
                <img src="https://res.cloudinary.com/platformtour/image/upload/v1716973356/help-svgrepo-com_uotplb.png" alt="tagimg" class="imgtagfeature"/>
                </div>
            </div>
            <div class="featurewrap1b">
                <div class="featurewrap1bx">
                    <img src="https://res.cloudinary.com/platformtour/image/upload/v1716994435/clean-hands-svgrepo-com_bos7ut.png" alt="tagimg" class="imgtagfeature2"/>
               <p class="remottext">Remote Power</p>
                </div>
                <div class="featurewrap1bx">
                    <img src="https://res.cloudinary.com/platformtour/image/upload/v1716994841/water-treatment-svgrepo-com_obwfwz.png" alt="tagimg" class="imgtagfeature2"/>
               <p class="remottext">Automatic Brake</p>
                </div>
                <div class="featurewrap1bx">
                    <img src="https://res.cloudinary.com/platformtour/image/upload/v1716995055/eco-care-svgrepo-com_shywse.png" alt="tagimg" class="imgtagfeature2"/>
               <p class="remottext">Turn Signals</p>
                </div>
            
            </div>
        </div>

    </div>
