
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap" rel="stylesheet">


<style>


.fontss{
font-style: normal;
  /* 
   font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
  
  
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  
  
  */

}



    .maincollapwrapm{
        display: flex;
        flex-direction: column;
        align-items: center;
      width: 100%;
      height:max-content;
      background-color: rgba(0, 235, 20, 0);
    }
    .frequently1{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 350px;
      height:50px;
      background-color: rgba(0, 235, 20, 0);
    }
    .questins1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    margin-left: 0px;
    background-color: rgba(107, 107, 107, 0);
    color: rgb(0, 0, 0);
     
    }
    .collapwrap{
        margin-top: 5px;
        display: flex;
        align-items: center;
        flex-direction: column;
      width: 350px;
      height: max-content;
      min-height: 50px;
      background-color: rgba(0, 24, 235, 0);
    }

    .collapwrap1{
        display: flex;
      align-items: center;
      width: 350px;
      height:40px;
      background-color: rgba(255, 0, 217, 0);
     border-bottom: 1px solid rgba(85, 85, 85, 0.606);
    }

    .collapimg{
        margin-top: 0px;
        margin-left: 5px;
        width: 23px;
      height:max-content;
    }
    .collaptext1{
        margin-top: 5px;
      display: flex;
      width: 350px;
      height:80px;
      background-color: rgba(142, 142, 142, 0.283);
      border-left: 3px solid rgba(0, 0, 0, 0.673);
    }
    .collaptext2{
        margin-top: 5px;
      display: flex;
      width: 350px;
      height:115px;
      background-color: rgba(142, 142, 142, 0.283);
      border-left: 3px solid rgba(0, 0, 0, 0.673);
    }
    .collaptype1{
margin-top:8px;
font-family: "Oswald", sans-serif;
 font-size:17px ;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
   background-color: rgba(113, 25, 25, 0);
        color: rgba(43, 43, 43, 0.908);
    }
    .stabletext{
      margin-left: 10px;
      display: flex;
      width: 295px;
      height:30px;
      background-color:  rgba(0, 235, 20, 0);
      
    }
    .collapadd1{
    margin-left: 0px;
        font-size: 16px; 
        font-family: "Jost", sans-serif;
        background-color: rgba(107, 107, 107, 0);
        color: rgba(74, 74, 74, 0.908);
    }
    .collapintext1{
        margin-top: 5px;
    margin-left: 5px;
        font-size: 12px; 
        font-family: "Jost", sans-serif;
        background-color: rgba(107, 107, 107, 0);
        color: rgba(74, 74, 74, 0.908);
        animation: text 300ms ease-in;
    }
    .price3{

    margin-left: 8px;
        font-size: 13px; 
        font-weight: bold;
        font-family: "Jost", sans-serif;
        background-color: rgba(107, 107, 107, 0);
        color: rgba(197, 197, 197, 0.908);
      
    }

    @keyframes text {
    from {
      transform: translateY(10px);
    }
   
    to {
     transform: translateY(0px);
    }
  }


   </style>



  
<div class="maincollapwrapm">
    <div class="frequently1"><h1 class="questins1">FREQUENTLY ASKED QUESTIONS</h1></div>
<div class="collapwrap">
   <div id="shippingdetailm" class="collapwrap1">
        <div class="stabletext">
        <h1 class="collaptype1">Where do you ship?</h1>
    </div>
        <h1 id="collapadd1m" class="collapadd1">+</h1>
    </div>
    <div id="collaptext1m" class="collaptext1"><p class="collapintext1">At EcoEstras We ship to all locations within the United States and internationally. orders are fulfilled and then shipped worldwide in average of 7-14 days.</p></div>
</div>

    <div class="collapwrap">
       <div id="shippingdetail2m" class="collapwrap1">
            <div class="stabletext">
            <h1 class="collaptype1">Product Question</h1>
        </div>
            <h1 id="collapadd2m" class="collapadd1">+</h1>
        </div>
        <div id="collaptext2m" class="collaptext2"><p class="collapintext1">If there is any issues at all with your order don't hesitate to reach out to our friendly customer support team at EcoEstras@store.com We will be happy to offer you an immediate solution and insure you are left satisfied with your experience! </p></div>
    </div>

    <div class="collapwrap">
        <div id="shippingdetail3" class="collapwrap1">
             <div class="stabletext">
             <h1 class="collaptype1">Product Question</h1>
         </div>
             <h1 id="collapadd3" class="collapadd1">+</h1>
         </div>
         <div id="collaptext3" class="collaptext2"><p class="collapintext1">If there is any issues at all with your order don't hesitate to reach out to our friendly customer support team at EcoEstras@store.com We will be happy to offer you an immediate solution and insure you are left satisfied with your experience! </p></div>
     </div>

     <div class="collapwrap">
        <div id="shippingdetail4" class="collapwrap1">
             <div class="stabletext">
             <h1 class="collaptype1">How can I get a refund for my order?</h1>
         </div>
             <h1 id="collapadd4" class="collapadd1">+</h1>
         </div>
         <div id="collaptext4" class="collaptext2"><p class="collapintext1">If for any reason you are not completely satisfied with your purchase, within 30 days of placing your order, we will refund you for your purchase with no questions asked.</p></div>
     </div>

</div>

<script>

let shippingdetailm = document.getElementById("shippingdetailm");
let shippingswitchm=false
document.getElementById("collaptext1m").style.display='none'  
   

shippingdetailm.addEventListener('click',()=>{
    if(shippingswitchm===false){
    document.getElementById("collaptext1m").style.display='flex'
    document.getElementById('collapadd1m').innerText= '-'
    shippingswitchm=true
    
}else{
    document.getElementById("collaptext1m").style.display='none'  
    document.getElementById('collapadd1m').innerText= '+'
    shippingswitchm=false
    }
})


let shippingdetail2m = document.getElementById("shippingdetail2m");
let shippingswitch2m=false
document.getElementById("collaptext2m").style.display='none'  
   

shippingdetail2m.addEventListener('click',()=>{
    if(shippingswitch2m===false){
    document.getElementById("collaptext2m").style.display='flex'
    document.getElementById('collapadd2m').innerText= '-'
    shippingswitch2m=true
    
}else{
    document.getElementById("collaptext2m").style.display='none'  
    document.getElementById('collapadd2m').innerText= '+'
    shippingswitch2m=false
    }
})


let shippingdetail3 = document.getElementById("shippingdetail3");
let shippingswitch3=false
document.getElementById("collaptext3").style.display='none'  
   

shippingdetail3.addEventListener('click',()=>{
    if(shippingswitch3===false){
    document.getElementById("collaptext3").style.display='flex'
    document.getElementById('collapadd3').innerText= '-'
    shippingswitch3=true
    
}else{
    document.getElementById("collaptext3").style.display='none'  
    document.getElementById('collapadd3').innerText= '+'
    shippingswitch3=false
    }
})


let shippingdetail4 = document.getElementById("shippingdetail4");
let shippingswitch4=false
document.getElementById("collaptext4").style.display='none'  
   

shippingdetail4.addEventListener('click',()=>{
    if(shippingswitch4===false){
    document.getElementById("collaptext4").style.display='flex'
    document.getElementById('collapadd4').innerText= '-'
    shippingswitch4=true
    
}else{
    document.getElementById("collaptext4").style.display='none'  
    document.getElementById('collapadd4').innerText= '+'
    shippingswitch4=false
    }
})

</script>
