<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&display=swap" rel="stylesheet">
    
    <style>
    
    @media screen and (max-width: 700px) {
    .specificatiokn{
    justify-content: center!important;
    }
    .maylikescroll::-webkit-scrollbar-thumb{
        background: linear-gradient(rgba(19, 5, 16, 0),rgba(67, 67, 67, 0))!important;
        height: 70px!important;
    }
    .home-banner{
    height: 400px!important;
}
.home-banner1{
    margin-bottom:30px!important;
    margin-left: 10px!important;
    position: relative;
    width: 280px!important;
    height: 160px!important;
}


.banner-text3{
      margin-top: -12px!important;
      font-weight: 500!important;
      font-size: 14px!important;
     }
    .banner-text2{
        margin-left: 0px!important;
        margin-top: 0px!important;
       font-weight: 400!important;
        font-size: 18px!important;
        }

    .banner-text2w{
        font-weight: 400!important;
        font-size: 16px!important;
        }

    .banner-text1{
        margin-top: -17px!important;
        font-size: 20px!important; 
       font-weight: 900!important;
     
    }

    .shoper-btn{  
    width: 90px!important;
    height: 30px!important;/*300px*/
   }



}

    .home-banner{
    width: 100%;
    height: 570px;
   display: flex;
   justify-content: flex-end;
   flex-direction: column;
   background-image: url("https://res.cloudinary.com/platformtour/image/upload/v1717494719/Screenshot_2024-06-04_103020_z7uqji.jpg"); /* The image used */
    background-color: #cccccc00; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* 69 11-10 Resize the background image to cover the entire container */
   
    }

    .home-banner1{
    margin-bottom:30px;
    position: relative;
    width: 600px;
    height: 280px;
    margin-left: 10px;
    background-color: rgba(0, 255, 255, 0);
    border: 2px solid rgba(0, 0, 0, 0);
   display: flex;
   flex-direction: column;
    }

    .home-banner-img{
        display: flex;
        width: 100%;
        height: max-content;
    }

    .banner-text3{
        margin-top: -12px;
        font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 20px;
      color: rgba(255, 255, 255, 0.994);
      font-style: normal;
    }
    .banner-text2{
        margin-left: 0px;
        margin-top: 0px;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-size: 24px;
        font-style: normal;
        color: rgba(255, 255, 255, 0.971);
    }

    .banner-text2w{
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-size: 20px;
        font-style: normal;
        color: rgba(0, 0, 0, 0.971);
    }

    .banner-text1{
        margin-top: -17px;
        font-size: 34px; 
        font-family: "Jost", sans-serif;
      font-optical-sizing: auto;
      font-weight: 900;
      font-style: normal;
            background-color: rgba(0, 0, 0, 0);
            color: rgb(255, 255, 255);
    
    }

    .shoper-btn{
        cursor: pointer;
        margin-top: 35px;
    display: flex;
    width: 120px;
    height: 40px;/*300px*/
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    }

</style>
<body>
    <div class="home-banner">
        
       <div class="home-banner1">
        <h1 class="banner-text2">Flash Deals</h1>
        <h1 class="banner-text1">Build Shoping Memories</h1>
        <h1 class="banner-text3">Soak up the sun for less Get low prices on what you love this summer, To good to miss!</h1>
       <div class="shoper-btn">
        <h1 class="banner-text2w">Shop Now</h1>
       </div>
    </div>
    </div>
