<style>
   
    .detailwrap1m{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 350px;
      height:115px;
      background-color: rgba(235, 8, 0, 0);
   }
   .detailwrap2{
      display: flex;
      align-items: flex-start;
      width: 350px;
      height:32px;
      background-color: rgba(0, 0, 255, 0);
   }
   .dotdetail{
        margin-left: 7px;
        margin-top:-1.5px;
        font-size: 13px; 
        font-weight: bold;
        font-family: "Jost", sans-serif;
        background-color: rgba(107, 107, 107, 0);
        color: rgba(0, 0, 0, 0.908);
   }

    .imgdodetail{
        width: 17px;
      height:max-content;
    }

   </style>
  <div class="detailwrap1m">
        <div class="detailwrap2">
        <img  src="https://res.cloudinary.com/platformtour/image/upload/v1715533084/security-material-4-svgrepo-com_q73e4f.png" alt="detail-check" class="imgdodetail" >
    <p class="dotdetail">Elevate your connection to new heights</p>
        </div>
        <div class="detailwrap2">
          <img  src="https://res.cloudinary.com/platformtour/image/upload/v1715533084/security-material-4-svgrepo-com_q73e4f.png" alt="detail-check" class="imgdodetail" >
      <p class="dotdetail">Elevate your connection to new heights</p>
          </div>
          <div class="detailwrap2">
            <img  src="https://res.cloudinary.com/platformtour/image/upload/v1715533084/security-material-4-svgrepo-com_q73e4f.png" alt="detail-check" class="imgdodetail" >
        <p class="dotdetail">Elevate your connection to new heights</p>
            </div>
    </div>
