<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&display=swap" rel="stylesheet">

<style>


.fontss{
font-style: normal;
  /* 
   font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
  
  
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  
  .passion-one-black {
  font-family: "Passion One", sans-serif;
  font-weight: 900;
  font-style: normal;
}
  
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

Regular 400 at 16px
Black 900 Italic
 font-family: "Poppins", sans-serif;
  font-weight: 300;

  */

}
@media screen and (max-width: 1250px) {
    .wrapingdivinword{
    margin-left: 2%!important; 
}
}

@media screen and (max-width: 1151px) {
    .infowrapimg1{
    width: 100%!important;
}
.wrapingdivinword{
    margin-left: 0%!important; 
}
}
@media screen and (max-width: 1000px) {
    .wrapingdivinword{
    width: 400px!important;
}
}

@media screen and (max-width: 850px) {
    .wrapingdivinword{
        margin-left: 0%!important;
    width: 95%!important;
    height: max-content!important;
    min-height: 400px!important;
    text-align: center;
   

 }
 
 
 .infowrapimg1{
   flex-wrap: wrap!important;
    justify-content: center!important;
    width: 100%!important;
     height: max-content!important;
      min-height: 300px!important;
      
  
}
.sizeinfo2{
display: flex!important;
width: 100%!important;
height: 500px!important;
background-image: url("https://res.cloudinary.com/platformtour/image/upload/v1716956542/photo_2024-05-29_06-21-57_zvngrg.jpg"); /* The image used */
background-color: #cccccc00; /* Used if the image is unavailable */
background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover; /* Resize the background image to cover the entire container */
    }
 .sizeinfo3{
display: flex!important;
width: 100%!important;
height: 100%!important;
background:linear-gradient(0deg,rgb(255, 255, 255),rgba(255, 255, 255, 0.834),rgba(255, 255, 255, 0.435),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 4, 4, 0),rgba(255, 4, 4, 0),rgba(255, 255, 255, 0))

 }
 .sizeinfo{
    display: none!important;
    width: 100%!important;
      height: max-content!important;
     
     
}


}

.infowrapimg{
    display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      height: max-content;
      min-height: 400px;
      background-color: rgba(0, 24, 235, 0);
}
.infowrapimg1{
    display: flex;
    width: 90%;
     height: max-content;
      min-height: 300px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      background-color: rgba(125, 235, 0, 0);

}
.wrapingdivinword{
    margin-left: 10%;
    width: 550px;
   height: max-content;
    min-height: 410px;
    background-color: rgba(0, 255, 200, 0);

}
.sizeinfo{
    display: flex;
    width: 450px;
      height: 410px;
        
}
.sizeinfo2{
    display: none;
    width: 450px;
      height: 410px;
       
}

.infoheadr{
    font-family: "Passion One", sans-serif;
  font-weight: 700;
  font-style: normal;
    color: rgba(0, 0, 0, 0.807);
}

.infoheadr1{
    margin-top: -20px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    color: rgba(76, 76, 76, 0.832);
}

.infoheadr2{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.572);
  font-style: normal;


}

</style>

<div class="infowrapimg">
    <div class="infowrapimg1">
        <img src="https://res.cloudinary.com/platformtour/image/upload/v1716956542/photo_2024-05-29_06-21-57_zvngrg.jpg" alt="comment-review" class="sizeinfo" >
        <div class="sizeinfo2" ><div class="sizeinfo3" ></div></div>
        <div class="wrapingdivinword">
 <h1 class="infoheadr">Why Choose Auroria</h1>
 <h1 class="infoheadr1">Guarantee</h1>

 <p class="infoheadr2">
    Discover our exclusive collection of watches,
    inspired by car rims with true 3D modeled dials.
    Meticulously designed with premium materials,
    these timepieces deliver style and reliability,
    perfect for any occasion.</p>

    <p class="infoheadr2">
        Discover our exclusive collection of watches,
        inspired by car rims with true 3D modeled dials.
        Meticulously designed with premium materials,
        these timepieces deliver style and reliability,
        perfect for any occasion.</p>

       
          
 
</div>
    </div>
</div>
