
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&display=swap" rel="stylesheet">

<style>

    .about-uswrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
    min-height:  300px;
    background-color: rgba(0, 255, 200, 0);
   }

   .about-uswrap2{
    flex-direction: column;
    display: flex;
    width: 90%;
    height: max-content;
    min-height: 300px ;
    background-color: rgba(94, 255, 0, 0);
   }
   .about-uswraptext2{
    justify-content: center;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: rgba(255, 17, 0, 0);
  
   }

.about-us1{
   font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    color: rgba(17, 17, 17, 0.988);
}

.about-us2{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.572);
  font-style: normal;
}
.aboutft{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: rgba(34, 34, 34, 0.877);
  font-style: normal;
}

</style>

<body>
<div class="about-uswrap">
    <div class="about-uswrap2">

        <div class="about-uswraptext2">
        <h1 class="about-us1">Refund Policy</h1>
    </div>

    <p class="about-us2">
        We have a 30-day return policy, which means you have 30 days after receiving your item to request a return. 

        <br><br>To be eligible for a return, your item must be in the same condition that you received it, unworn or unused, with tags, and in its original packaging. You’ll also need the receipt or proof of purchase. 
        
        To start a return, you can contact us . If your return is accepted, we’ll send you a return address, as well as instructions on how and where to send your package. Items sent back to us without first requesting a return will not be accepted. </p>
   
    <p class="about-us2">
        <bold class="aboutft">Damages and issues</bold><br><br>Please inspect your order upon reception and contact us immediately if the item is defective, damaged or if you receive the wrong item, so that we can evaluate the issue and make it right.
    </p>
    <p class="about-us2">
        <bold class="aboutft">Exceptions / non-returnable items</bold><br><br>Certain types of items cannot be returned, like perishable goods (such as food, flowers, or plants), custom products (such as special orders or personalized items), and personal care goods (such as beauty products). We also do not accept returns for hazardous materials, flammable liquids, or gases. Please get in touch if you have questions or concerns about your specific item. 
    </p>
    <p class="about-us2">
        <bold class="aboutft">Exchanges</bold><br><br>We will notify you once we’ve received and inspected your return, and let you know if the refund was approved or not. If approved, you’ll be automatically refunded on your original payment method. Please remember it can take some time for your bank or credit card company to process and post the refund too.
    </p>
   


</div>
</div>
