
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&display=swap" rel="stylesheet">

<style>

    .about-uswrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
    min-height:  300px;
    background-color: rgba(0, 255, 200, 0);
   }

   .about-uswrap2{
    flex-direction: column;
    display: flex;
    width: 90%;
    height: max-content;
    min-height: 300px ;
    background-color: rgba(94, 255, 0, 0);
   }
   .about-uswraptext2{
    justify-content: center;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: rgba(255, 17, 0, 0);
  
   }

.about-us1{
   font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    color: rgba(17, 17, 17, 0.988);
}

.about-us2{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.572);
  font-style: normal;
}
.aboutft{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: rgba(34, 34, 34, 0.877);
  font-style: normal;
}

</style>

<body>
<div class="about-uswrap">
    <div class="about-uswrap2">

        <div class="about-uswraptext2">
        <h1 class="about-us1">Shipping policy</h1>
    </div>

    <p class="about-us2">
        <bold class="aboutft">I JUST PLACED AN ORDER, WHEN WILL IT SHIP?</bold><br><br> Please allow 1 - 3 business days of processing and production time for your order to ship out.
    </p>
    <p class="about-us2">
        <bold class="aboutft">HOW LONG IS THE SHIPPING TIME?</bold><br><br>U.S orders will be shipped via USPS & FedEx and International Orders will be shipped depending on the fulfillment center the product is from.
        Average transit times to the United States: 5 - 15 Business days
        Average transit times to International: 7 - 20 Business days
        
        <br><br>There are circumstances that are out of control (natural disasters, holidays, weather, etc) that may cause shipping postponements. While most packages will arrive on time, there may be circumstances and delays that our carriers may experience. For this reason, we do not guarantee the exact delivery time; the delivery issue is the responsibility of the shipping company.
    </p>
    <p class="about-us2">
        <bold class="aboutft">WILL I RECEIVE A TRACKING NUMBER?</bold><br><br>We provide tracking for every order. Tracking will be available once your product is shipped. Each individual product may be shipped from different fulfillment centers across the globe as our product research team spends the time to source for quality yet affordable products.
    </p>
    <p class="about-us2">
        <bold class="aboutft">CAN I CANCEL MY ORDER?</bold><br><br>You are able to cancel your order with no penalty! You must cancel your order 24 hours after creating it for the cancellation to be applied.  All you need to do is send us an email with the subject line "CANCEL".
    </p>
    <p class="about-us2">
        <bold class="aboutft">I HAVE ENTERED AN INCORRECT ADDRESS!</bold><br><br>If you have misspelled or auto-filled your address incorrectly, simply reply to your order confirmation email and give us the correct information.  If the address is wrong, we can correct this within 24 hours.
    </p>
    <p class="about-us2">
        <bold class="aboutft">MY ITEM ARRIVED DAMAGED </bold><br><br>We do ship every item with extra padding. Despite this, our customers report that around 1 in 1000 products arrives damaged due to mail service mistreatment.

        <br><br> If this happens to you, please contact us with:
    </p>
    <p class="about-us2">
        <bold class="aboutft">- Your order number.<br>
            - A picture of the damaged product.</bold><br><br>.Once received, we'll be happy to send out another free of charge. </p>
    <p class="about-us2">
        <bold class="aboutft">I HAVE A QUESTION THAT WASN'T ANSWERED, CAN YOU PLEASE HELP?</bold><br><br>If we still haven't managed to answer your question please feel free to contact us and we will do our best to reply within 24 hours.
    </p>
    

</div>
</div>
