<style>
    
    .detailwrap1{
        display: flex;
      flex-direction: column;
      align-items: center;
      width: 350px;
      height:70px;
      background-color: rgba(235, 8, 0, 0);
      border-bottom: 1px solid black;
    }

    .storedetail{
        width: 340px;
      height:max-content;
    }

   </style>

<div class="detailwrap1">
        <img  src="https://res.cloudinary.com/platformtour/image/upload/v1715526273/check_dbmvm2.jpg" alt="detail-check" class="storedetail" >
    </div>
