
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&display=swap" rel="stylesheet">

<style>

.specification{
    
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: max-content;
    min-height:410px ;
    background-color: rgba(0, 0, 255, 0);
}

@media screen and (max-width: 850px) {
    .specification{
    justify-content: center!important;
}
    .wrapingdivinwordx{
    width: 95%!important;
    margin-top: 0px!important;
}
.wrapingdivinwordx1{
    width: 95%!important;
    margin-top: 0px!important;
}

}

.wrapingdivinwordx{
    margin-top: 5px;
    width: 550px;
   height: max-content;
    background-color: rgba(0, 255, 200, 0);

}
.wrapingdivinwordx1{
    margin-top: 5px;
    width: 550px;
   height: max-content;
    background-color: rgba(34, 255, 0, 0);

}

.infoheadr1x{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    color: rgba(21, 21, 21, 0.832);
}

.infoheadr2x{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.572);
  font-style: normal;
}
.boldft{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: rgba(34, 34, 34, 0.877);
  font-style: normal;
}

.specidev{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 24px;
    background-color: rgba(137, 43, 226, 0);
}

</style>
 <div class="specification">

        <div class="wrapingdivinwordx">
          <div class="specidev">
            <h1 class="infoheadr1x">SPECIFICATION</h1>
        </div>
            <p class="infoheadr2x">
               Discover our exclusive collection of watches,
               inspired by car rims with true 3D modeled dials.
               Meticulously designed with premium materials,
               these timepieces deliver style and reliability,
               perfect for any occasion.</p>
               <p class="infoheadr2x">
                Discover our exclusive collection of watches,
                inspired by car rims with true 3D modeled dials.
                Meticulously designed with premium materials,
                these timepieces deliver style and reliability,
                perfect for any occasion.</p>
</div>

<div class="wrapingdivinwordx1">
    <div class="specidev">
      <h1 class="infoheadr1x">PRODUCT FEATURES</h1>
  </div>
      <p class="infoheadr2x">
        <bold class="boldft">Discover our</bold> exclusive collection of watches,
         inspired by car rims with true 3D</p>
         <p class="infoheadr2x">
            <bold class="boldft">Discover our</bold> exclusive collection of watches,
             inspired by car rims with true 3D</p>
             <p class="infoheadr2x">
                <bold class="boldft">Discover our</bold> exclusive collection of watches,
                 inspired by car rims with true 3D</p>
                 <p class="infoheadr2x">
                    <bold class="boldft">Discover our</bold> exclusive collection of watches,
                     inspired by car rims with true 3D</p>
                     
         
</div>



</div>
