<style>
    .reviewwrap{
      display: flex;
      width: 270px;
      height: 28px;
      align-items: center;
      background-color: rgba(255, 0, 0, 0);
    }

    .reviewtext{
        font-size: 14px; 
        font-weight: bold;
 margin-top: 18px;
        margin-left: 4px;
        position: relative;

        font-family:Gothampro,sans-serif;
        background-color: rgba(0, 0, 0, 0);
        color: rgb(102, 102, 102);
       
    }
    .review{
      width: 90px;
      height: 28px;
    }

</style>


<div class="reviewwrap">
    <img src="https://res.cloudinary.com/platformtour/image/upload/v1715275184/reviewnub_jzqwm7.jpg" alt="review" class="review" > <p class="reviewtext">66 Reviews</p>
</div>
