
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 

<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&display=swap" rel="stylesheet">




   <style>
    .scrollwrapseen{
      margin-top: 9px;
      display: flex;
       width: 100%;
      height: 70px;
      overflow: hidden;
      background-color: rgba(255, 59, 59, 0);
      white-space: nowrap;
    }

    .announcement-slideseen{
       display: flex;
        align-items: center;
        justify-content: center;
      width: min-content;
      height: 70px;
      background-color: rgba(255, 255, 255, 0);
      animation: 15s slides infinite linear;
    }

    .logs1{
      opacity: 0.48;
      margin-left: 73px;
      width:110px ;
      height: min-content;
      background-color: rgba(0, 0, 255, 0);
    }
    .logs2{
      opacity: 0.48;
      margin-left: 73px;
      width:110px ;
      height: min-content;
      background-color: rgba(0, 0, 255, 0);
    }
    .logs3{
      opacity: 0.48;
      margin-left: 73px;
      width:80px ;
      height: min-content;
      background-color: rgba(0, 0, 255, 0);
    }

    @keyframes slides {
        from{
            transform: translateX(0);
        }
        to{
            transform: translateX(-100%);
        }
    }

    .announcement{
        font-size: 15px; 
        font-weight: bold;
        font-family:Gothampro,sans-serif;
        background-color: rgba(0, 0, 0, 0);
        color: rgb(255, 255, 255);
        margin: 0 30px;
    }

    .scrollwrapH{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    rotate:-4deg;
      border-radius: 0px;
      
    }
    .twoways{
      display: flex;
      align-items: center;
      flex-direction: column;
      width:100%;
      height: max-content;
      background-color: rgba(0, 61, 215, 0);
     
    }
    .how-space{
      display: flex;
      align-items: center;
      justify-content: center;
      width:300px;
      height: 30px;
      background-color: rgba(93, 215, 0, 0);
     
    }

    .poppin1{
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.572);
  font-style: normal;
}
.poppin2{
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 16px;
  color: rgb(169, 169, 169);
  font-style: normal;
}


</style>


  <div class="twoways">
    <div class="how-space"><h1 class="poppin1">Trusted.</h1>
      <h1 class="poppin2">Companies</h1></div>
<div class="scrollwrapseen">
   
 <div class="announcement-slideseen">
<img src="https://res.cloudinary.com/platformtour/image/upload/v1717078091/attachment_128692689-removebg-preview_srccm2.png" alt="logos" class="logs1"/>
<img src="https://res.cloudinary.com/platformtour/image/upload/v1717078092/attachment_126379785-removebg-preview_qbsbqp.png" alt="logos" class="logs2"/>
<img src="https://res.cloudinary.com/platformtour/image/upload/v1717082091/images__2_-removebg-preview_ycitv8.png" alt="logos" class="logs3"/>
<img src="https://res.cloudinary.com/platformtour/image/upload/v1717078092/attachment_136507147-removebg-preview_gs1q8i.png" alt="logos" class="logs3"/>
<img src="https://res.cloudinary.com/platformtour/image/upload/v1717082092/Walmart-Logo_wtiqwn.png" alt="logos" class="logs2"/>
</div>
<div class="announcement-slideseen">
  <img src="https://res.cloudinary.com/platformtour/image/upload/v1717078091/attachment_128692689-removebg-preview_srccm2.png" alt="logos" class="logs1"/>
  <img src="https://res.cloudinary.com/platformtour/image/upload/v1717078092/attachment_126379785-removebg-preview_qbsbqp.png" alt="logos" class="logs2"/>
  <img src="https://res.cloudinary.com/platformtour/image/upload/v1717082091/images__2_-removebg-preview_ycitv8.png" alt="logos" class="logs3"/>
  <img src="https://res.cloudinary.com/platformtour/image/upload/v1717078092/attachment_136507147-removebg-preview_gs1q8i.png" alt="logos" class="logs3"/>
  <img src="https://res.cloudinary.com/platformtour/image/upload/v1717082092/Walmart-Logo_wtiqwn.png" alt="logos" class="logs2"/>
  </div>
  <div class="announcement-slideseen">
    <img src="https://res.cloudinary.com/platformtour/image/upload/v1717078091/attachment_128692689-removebg-preview_srccm2.png" alt="logos" class="logs1"/>
    <img src="https://res.cloudinary.com/platformtour/image/upload/v1717078092/attachment_126379785-removebg-preview_qbsbqp.png" alt="logos" class="logs2"/>
    <img src="https://res.cloudinary.com/platformtour/image/upload/v1717082091/images__2_-removebg-preview_ycitv8.png" alt="logos" class="logs3"/>
    <img src="https://res.cloudinary.com/platformtour/image/upload/v1717078092/attachment_136507147-removebg-preview_gs1q8i.png" alt="logos" class="logs3"/>
    <img src="https://res.cloudinary.com/platformtour/image/upload/v1717082092/Walmart-Logo_wtiqwn.png" alt="logos" class="logs2"/>
    </div>

 

</div>
</div>
