    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    
<style>



@media screen and (min-width: 850px) {
.videowrappro{
height: 660px!important;
}

.videoimg{
height: 650px!important;
}

}

.videowrappro{
    
    display: flex;
    flex-direction: column;
width: 100%;
height: 420px;
justify-content: center;
background-color: rgba(0, 0, 255, 0);

}
.videoimg{
    
display: flex;
border-radius: 8px;
width: 90%;
height: 400px;
background-image: url("https://res.cloudinary.com/platformtour/image/upload/v1716956542/photo_2024-05-29_06-21-57_zvngrg.jpg"); /* The image used */
background-color: #cccccc00; /* Used if the image is unavailable */
background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover; /* 69 11-10 Resize the background image to cover the entire container */
box-shadow: 0px 1px 6px 0.5px rgba(0, 0, 0, 0.612);
     
}

.videotext{
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
width: 100%;
height: 100%;
border-radius: 8px;
background:linear-gradient(0deg,rgba(0, 0, 0, 0.515),rgba(0, 0, 0, 0.269),rgba(137, 0, 0, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 4, 4, 0),rgba(255, 4, 4, 0),rgba(255, 255, 255, 0))

}
.videotext1h{
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    flex-direction: column;
margin-bottom: 5px;
display: flex;
width: 98%;
height: 80px;
background-color: rgba(0, 0, 255, 0);
}

.videotext1ln{
    justify-content: space-between;
    align-items: center;
    position: relative;
margin-bottom: 0px;
display: flex;
width: 100%;
height: 40px;
background-color: rgba(0, 255, 30, 0);
}
.dompercent{
justify-content: center;
align-items: center;
display: flex;
width: 50px;
height: 20px;
border: 2px solid white;
border-radius: 30px;
background-color: rgba(220, 139, 0, 0);
}
.divmanrg{
    margin-right: 5px;
    display: flex;
    justify-content: space-between;
width:90px;
align-items: center;
height: 40px;
background-color: rgba(0, 225, 255, 0);

}

.productdestript{
    display: flex;
    justify-content: center;
width:90%;
align-items: center;
height: 40px;
background-color: rgba(238, 2, 2, 0);

}

.dompercent1{
    cursor: pointer;
justify-content: center;
align-items: center;
display: flex;
width: 20px;
height: 20px;
border: 2px solid white;
border-radius: 30px;
background-color: rgba(220, 139, 0, 0);
}
.imgtextvideo{
    margin-left: 5px;
    display: flex;
width: 30px;
height: max-content;
}
.textviedomh{
    margin-left: 2px;
    font-size: 15px; 
       font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
        background-color: rgba(0, 0, 0, 0);
        color: rgb(255, 255, 255);
}
.textviedomhb{
    margin-left: 2px;
    font-size: 15px; 
       font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
        background-color: rgba(0, 0, 0, 0);
        color: rgb(0, 0, 0);
}
.textviedomhm{
   font-size: 15px; 
       font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
        background-color: rgba(0, 0, 0, 0);
        color: rgb(255, 255, 255);
}
.textviedomhx{
   font-size: 15px; 
       font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
        background-color: rgba(0, 0, 0, 0);
        color: rgb(255, 255, 255);
}





</style>


<div class="videowrappro">
    <div class="productdestript">
        <h1 class="textviedomhb">New & trending</h1>
    </div>
    <div id="videoimg-product" class="videoimg">
        <div class="videotext">
            <div class="videotext1h">
                <h1 class="textviedomh">Supercharge </h1>
                <div class="videotext1ln">
            <h1 class="textviedomh">$34</h1>
   <div class="divmanrg">
            <div class="dompercent"><h1 class="textviedomhx">15%</h1></div>
    <div id="dompercent1" class="dompercent1"><h1 class="textviedomhm">+</h1></div>
</div>
</div>
    </div>
        </div>
    </div>
</div>
<script>

    const videoimgproduct = document.getElementById('videoimg-product')
    videoimgproduct.addEventListener('click',()=>{
        window.location.href = '/checkout'
    })


    const dompercent1 = document.getElementById('dompercent1')
    videoimgproduct.addEventListener('click',()=>{
        fisrtbundle('first','ID','red','M',1)
    })
      let nexts=0
      let arraydatar=[]

const fisrtbundle=async(type,productId,color,size,quantity)=>{

   let  productVariants=""

   console.log('firstbundle-funtion',productId,color,size,quantity)
 
  await fetch(`${window.Shopify.routes.root}products/${productId}.js`) // Replace '1234567890' with the actual product ID
    .then(response => response.json())
    .then(data => {
      console.log('products',data)
        // Parse variant information and populate productVariants array
       productVariants = data.variants.map(variant => ({
            id: variant.id,
            size: variant.option1,
            color: variant.option2,
            // Add more properties as needed
        }));
      
    })
    .catch(error => {
        console.error('Error fetching product information:', error);
    });
  
console.log('Variant',productVariants)
    // Find the matching variant based on selected size and color
    const selectedVariant = productVariants.find(variant => variant.size === size && variant.color === color);

  console.log('selectedVariant',selectedVariant)
    if (!selectedVariant) {
        console.error('Selected variant not found.');
    }
  else{

 if(type==="second"){
      arraydatar=[...arraydatar,...[{id: selectedVariant.id,quantity: quantity}]]
      nexts=nexts+1
    }
    
   
    let formData = {
            items: [{
                     id: selectedVariant.id,
                     quantity: quantity
                    }]
};
    
 let saveformData = {
            items: arraydatar
};
     const cartresponse = await fetch(`${window.Shopify.routes.root}cart/clear.js`, {
        method: 'POST',
       headers: {
                'Content-Type': 'application/json'
          },
    })

        const cleardata = await cartresponse.json();
        console.log('cleardata',cleardata)
       
      
    console.log('saveformData',saveformData)
    console.log('nexts',nexts)
    if(type==="second"&&nexts===2||type==='first'){
   try {
        const response = await fetch(`${window.Shopify.routes.root}cart/add.js`, {
        method: 'POST',
       headers: {
                'Content-Type': 'application/json'
          },
        body: JSON.stringify(type==="second"?saveformData:formData)
    })

        const data = await response.json();
       console.log('Item added to cart:',typeof data.items[0]);
      console.log('Item added to cart:', data);

     if(typeof data.items[0]=== 'object'){
       window.location.href = '/checkout'
     }   
      } catch (error) {
        console.error('Error adding item to cart:', error);
    }
    }
 
    
  }   
}  
  

</script>
